// Default variables.
@import "configuration-import";
@import "variables";

// Bootstrap Framework.
@import "bootstrap";

.lead {
    color: #ebebeb; 
}

.navbar-nav>li>a:hover {
    border-top: 4px solid #003f62;
    border-bottom: none;
    background-color: #e6ac00;
    color: #ffffff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    background-color: #e6ac00;
    color: #ffffff;
}

.navbar-nav > li > a.is-active, .navbar-nav > li > a.is-active:hover, .navbar-nav > li > a.is-active:focus {
    background-color: #e6ac00;
}

.navbar-nav {
    background-color: #ffbf00;
}