// Default variables.
@import "configuration-import";
@import "variables";

// Bootstrap Framework.
@import "bootstrap";

.lead {
    color: #ebebeb; 
}

a {
    color: #e6ac00 ;
}

.navbar-nav>li>a:hover {
    border-top: 4px solid #003f62;
    border-bottom: none;
    background-color: #e6ac00;
    color: #ffffff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    background-color: #e6ac00;
    color: #ffffff !important;
}

.navbar-nav > li > a.is-active, .navbar-nav > li > a.is-active:hover, .navbar-nav > li > a.is-active:focus {
    background-color: #e6ac00;
}

.navbar-nav {
    background-color: #ffbf00;
    justify-content: center;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0.95em 1.1em;
}

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0.95em 1.1em;
    }
}

.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: var(--bs-white);
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: var(--bs-warning);
    display: flex;
    flex-wrap: wrap;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
  }
  
  .breadcrumb-item + .breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
  }
  .breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
  }
  .breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color);
  }