// Default variables.
@import "configuration-import";
@import "variables";

// Bootstrap Framework.
@import "bootstrap";

.lead {
    color: #ebebeb; 
}

.navbar-nav>li>a:hover {
    border-top: 4px solid #003f62;
    border-bottom: none;
    background-color: #e6ac00;
    color: #ffffff;
}

.navbar-nav {
    background-color: #ffbf00;
}